.Main {
    display: flex;
    justify-content: space-between;
    background-color: var(--Very-Dark-Desaturated-Blue);
}

.Items {
    padding: 8px 12px;
    min-height: 48px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--Very-Dark-Desaturated-Blue);
    border-bottom: 1px solid var(--Very-Dark-Grayish-Blue-2);
}

.Items:hover {
    cursor: grab;
}

.Items .div1 {
    display: flex;
    align-items: center;
}

.Items .div1 p {
    font-size: 1.3rem;
    color: var(--Light-Grayish-Blue);
}


.CheckButtonMainContainer {
    padding-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid var(--Very-Dark-Grayish-Blue-2);
}

.Main .Circle {
    min-width: 22px;
    height: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;
}

.Main .BackButton {
    min-width: 26px;
    height: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    border: none;
    background-color: var(--Very-Dark-Grayish-Blue-2);
}

.Main .BackButton:hover {
    background-image: linear-gradient(130deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.Main .Circle img {
    width: 10px;
}

.CloseIcon {
    padding: 0 20px;
    height: 100%;

    background-color: transparent;
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--Very-Dark-Grayish-Blue-2);
}

.CloseIcon img {
    width: 14px;
}



/* !======MEDIA QUERIES====== */
@media screen and (min-width: 1080px) {
    .Items {
        padding: 8px 0;
        min-height: 62px;
    }
    
    .Items .div1 p {
        font-size: 1.4rem;
    }

    .Items .div1 {
        padding-left: 20px;
    }

    .Main .Circle {
        width: 26px;
        height: 26px;
    }
    
    .Main .Circle img {
        width: 14px;
    }

    .Main .BackButton {
        min-width: 28px;
        height: 28px;
    }
}
