.Items {
    padding: 8px 20px;
    min-height: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--Very-Dark-Desaturated-Blue);
    border-bottom: 1px solid var(--Very-Dark-Grayish-Blue-2);
}

.Items .div1 {
    display: flex;
    align-items: center;
}

.Items .div1 p {
    margin-left: 12px;
    padding-right: 6px;

    font-size: 1.3rem;
    color: var(--Light-Grayish-Blue);
}

.Items .div1 p:hover {
    /* cursor: grab; */
    cursor: pointer;
}

.Items .Circle {
    min-width: 22px;
    height: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;
}

.Items .BackButton {
    min-width: 26px;
    height: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    border: none;
    background-color: var(--Very-Dark-Grayish-Blue-2);
}

.Items .BackButton:hover {
    background-image: linear-gradient(130deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.Items .Circle img {
    width: 10px;
}

.Items .CloseIcon {
    background-color: transparent;
    border: none;
}

.Items .CloseIcon img {
    width: 14px;
}



/* !======MEDIA QUERIES====== */
@media screen and (min-width: 1080px) {
    .Items {
        min-height: 62px;
    }

    .Items .div1 p {
        font-size: 1.4rem;
    }

    .Items .Circle {
        width: 26px;
        height: 26px;
    }
    
    .Items .div1 p {
        margin-left: 20px;
    }

    .Items .Circle img {
        width: 14px;
    }

    .Items .BackButton {
        min-width: 28px;
        height: 28px;
    }
}
