@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--Very-Dark-Blue);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
}

button, input {
  font-family: 'Josefin Sans', sans-serif;
}

button:hover {
  cursor: pointer;
  color: var(--Very-Light-Grayish-Blue);
  transition: 0.3s;
}

:root {
  /* ### Primary */

  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* ### Neutral */

  /* ### Light Theme */

  /* --Very-Light-Gray: hsl(0, 0%, 98%); */
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  /* --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%); */

  /* ### Dark Theme */

  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue-1: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue-2: hsl(237, 14%, 26%);
  --Box-Shadow: rgba(0,0,0,0.75);

}

html[data-theme='light'] {
  --Very-Dark-Blue: hsl(236, 33%, 92%);
  --Very-Dark-Desaturated-Blue: hsl(0, 0%, 98%);
  --Light-Grayish-Blue: hsl(235, 19%, 35%);
  --Very-Dark-Grayish-Blue-2: hsl(236, 9%, 85%);


  --Box-Shadow: rgba(0,0,0,0.20);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--Very-Dark-Blue);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(234, 11%, 28%);
  border-radius: 10px;
}

